@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
}

.dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
    .remove-ring {
        outline: none !important;
        --tw-ring-offset-width: 0 !important;
    }
    .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #282828 transparent;
    }

    .scrollbar::-webkit-scrollbar {
        @apply w-[9px] h-[7.5px];
    }

    .scrollbar-main::-webkit-scrollbar {
        @apply w-[6px] h-[7.5px];
    }
    .scrollbar::-webkit-scrollbar-thumb {
        @apply border-[2px] border-solid border-transparent bg-[#1b1e28]   bg-clip-content;
    }

    .scrollbar-main::-webkit-scrollbar-thumb {
        @apply border-[2px] border-solid border-transparent bg-slate-100  bg-clip-content;
    }

    .scrollbar::-webkit-scrollbar-track,
    .scrollbar-main::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    @font-face {
        font-family: "Stalanist";
        src: url("../../public//fonts//StalinistOne-Regular.ttf") format("truetype");
        font-weight: 400;
    }

    @font-face {
        font-family: "Telex";
        src: url("../../public//fonts//Telex-Regular.ttf") format("truetype");
        font-weight: 400;
    }

    .drake::after {
        content: "";
        background-color: black;
        opacity: 0.1; /* Cambia este valor según la opacidad deseada (0.0 a 1.0) */
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .drake::before {
        content: "";
        background-image: url("../../public/imgs/drake.svg");
        background-position: center left;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.7; /* Cambia este valor según la opacidad deseada (0.0 a 1.0) */
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Asegúrate de que esté detrás del contenido */
    }

    input[type="text"]:focus ~ .input-text,
    input[type="text"]:not(:placeholder-shown) ~ .input-text {
        @apply text-inherit transform -translate-y-5 -translate-x-2 scale-90;
    }

    input[type="email"]:focus ~ .input-text,
    input[type="email"]:not(:placeholder-shown) ~ .input-text {
        @apply text-inherit transform -translate-y-6 -translate-x-2 scale-90;
    }

    input[type="password"]:focus ~ .input-text,
    input[type="password"]:not(:placeholder-shown) ~ .input-text {
        @apply text-inherit transform -translate-y-6 -translate-x-2 scale-90;
    }

    .grid-add-docente {
        display: grid;
        grid-template-areas: "step form ";
    }

    .step {
        grid-area: step;
    }

    .form {
        grid-area: form;
    }
}
